@import 'mixins/icon';

body {
  color: red;
  font-size: 16px;
  font-family: Helvetica, Arial;
  padding: 0;
  margin: 0;
}

h1, h3 {
  margin: 0;
}

.content-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  @media (orientation: landscape) {
    display: block;
  }
}

.content {
  text-align: center;
  color: #82735c;
  padding: 20px;
  @media (orientation: landscape) {
    padding: 20px;
    padding-top: 40px;
  }
  > * + * {
    margin-top: 10px;
  }
  > * {
    &:nth-last-child(1) {
      margin-top: 20px;
    }
  }
}

.my-face {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 14px rgba(243, 216, 99, 1);
  margin-bottom: 20px;
  @media (orientation: landscape) {
    width: 110px;
    height: 110px;
    box-shadow: 0px 0px 0px 8px #f3d863;
  }
}

.social {
    display: flex;
    align-items: center;
    &.centered {
        justify-content: center;
    }
    > * + * {
        margin-left: 20px;
    }
    .link-icon {
        display: block;
        width: 40px;
        height: 40px;
        &.github {
            @include icon('/static/images/github.svg', 40px, 40px);
        }
        &.twitter {
            @include icon('/static/images/twitter.svg', 40px, 40px);
        }
        &.instagram {
            @include icon('/static/images/instagram.svg', 40px, 40px);
        }
        &.facebook {
            @include icon('/static/images/facebook.svg', 40px, 40px);
        }
        &.linkedin {
            @include icon('/static/images/linkedin.svg', 40px, 40px);
        }
    }
}

.bubbles {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.bubble {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.2;
  position: absolute;
  top: 110%;
  > span {
    transform: rotate(-12deg);
    transform-origin: center center;
  }
}

@keyframes moves {
  from {
    top: 110%;
  }

  10% {
    top: 90%;
  }

  20% {
    top: 92%;
  }

  25% {
    top: 94%;
  }

  to {
    top: -20%;
  }
}
